influxdb==5.0.0
pycron==0.80.0
click==6.7
toml==0.9.4
Werkzeug==0.14.1
Flask==0.12.2
pymongo==3.6.0
redis==2.10.6
python_etcd==0.4.5
requests==2.18.4
Logbook==1.1.0
kafka_python==1.4.2
orator==0.9.7
pendulum==1.4.2
pymysql==0.8.0
